
html, body{
  font-size: 16px;
}

.main-section {
  border: thick dashed black;
  margin: 5px;
  padding: 6px;
  background-color: #CCCCCC;
}

h1 {
  margin: 1em auto;
  padding: 1em auto 1em;
  width: 50%;
  border:1px solid #CCC;

}